.main {
  font-family: $fontMontserrat;
  padding: 90px 18% 0;
  overflow: hidden;
  @media (max-width: $breakpoint-desktop) {
    padding: 26px 10% 0;
  }
  @media (max-width: $breakpoint-mobile) {
    padding: 40px 20px 0;
  }

  .section-about {
    text-align: center;
    .about {
      font-family: $fontRoboto;
      padding: 45px 0 100px;
      width: 80%;
      margin: auto;
      line-height: 22px;
      color: #999999;
      @media (max-width: $breakpoint-mobile) {
        padding: 36px 0 45px;
      }
    }
    .cases {
      color: $white;
      padding-bottom: 110px;
      @media (max-width: $breakpoint-mobile) {
        padding-bottom: 50px;
      }
      .case {
        position: relative;
        display: inline-block;
        width: 30%;
        margin: 0 16px 20px 16px;
        overflow: hidden;
        cursor: pointer;
        height: 250px;
        background-position: center;
        background-size: cover;
        transition: all .2s;
        @media (max-width: 1630px) {
          width: 29%;
        }
        @media (max-width: 1630px) {
          width: 29%;
        }
        @media (max-width: $breakpoint-desktop) {
          width: 28%;
          height: 166px;
        }
        @media (max-width: 815px) {
          width: 46%;
          height: 200px;
        }
        @media (max-width: 650px) {
          width: 88%;
        }
        .hover {
          position: absolute;
          opacity: 0;
          top: -40%;
          left: 50%;
          transform: translateX(-50%);
          transition: all .4s;
        }
        &:first-child{
          background-image: url(../../img/case1.png);
        }
        &:nth-child(2){
          background-image: url(../../img/case2.png);
        }
        &:nth-child(3){
          background-image: url(../../img/case3.png);
        }
        &:hover {
          box-shadow: 15px 15px 0px #95e1d3;
        }
        &:hover .hover {
          opacity: 1;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .statistics-wrapper {
      width: 100vw;
      background: #95e1d3;
      padding: 76px 0 94px;
      margin-left: -18vw;
      white-space: nowrap;
      color: $white;
      @media (max-width: $breakpoint-desktop) {
        margin-left: -10vw;
      }
      @media (max-width: $breakpoint-mobile) {
        margin-left: -20px;
        padding: 32px 0;
        white-space: normal;
      }
      .statistic {
        display: inline-block;
        width: 12%;
        vertical-align: middle;
        @media (max-width: $breakpoint-desktop) {
          width: 18%;
        }
        @media (max-width: $breakpoint-mobile) {
          width: 46%;
          margin-bottom: 20px;
        }
        div:first-child{
          font-size: 3.6vw;
          font-weight: $font-weight-bold;
          @media (max-width: $breakpoint-desktop) {
           font-size: 48px;
          }
          @media (max-width: $breakpoint-mobile) {
            font-size: 36px;
          }
        }
        div:nth-child(2) {
          font-size: 14px;
          text-transform: uppercase;
          padding-top: 20px;
          @media (max-width: $breakpoint-mobile) {
            padding-top: 8px;
          }
        }
      }
    }
  }

  .section-services{
    text-align: center;
    padding: 100px 0;
    @media (max-width: $breakpoint-mobile) {
      padding: 40px 0;
    }
    .service {
      position: relative;
      padding: 64px 10px 35px;
      display: inline-block;
      width: 30%;
      border-bottom: 1px solid #e5e5e5;
      text-align: left;
      @media (max-width: $breakpoint-mobile) {
        width: 80%;
        padding: 35px 10px;
      }
      .text-wrapper {
        margin-left: 50px;
      }
      h3 {
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        margin-bottom: 15px;
      }
      p {
        font-family: $fontRoboto;
        font-size: 15px;
        color: #999999;
        line-height: 20px;
      }
      &:first-child:before{
        @include preudo;
        background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%0A%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%0A%20width%3D%2232px%22%20height%3D%2231px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb(149%2C%20225%2C%20211)%22%0A%20d%3D%22M30.740%2C9.503%20C29.156%2C5.807%2026.193%2C2.843%2022.497%2C1.260%20C23.497%2C0.473%2024.755%2C-0.000%2026.126%2C-0.000%20C29.370%2C-0.000%2032.000%2C2.630%2032.000%2C5.874%20C32.000%2C7.245%2031.527%2C8.503%2030.740%2C9.503%20ZM30.500%2C16.000%20C30.500%2C19.852%2028.988%2C23.343%2026.537%2C25.940%20L28.566%2C27.968%20C28.834%2C28.236%2029.000%2C28.607%2029.000%2C29.017%20C29.000%2C29.836%2028.336%2C30.500%2027.517%2C30.500%20C27.107%2C30.500%2026.736%2C30.334%2026.468%2C30.065%20L24.290%2C27.887%20C21.939%2C29.529%2019.085%2C30.500%2016.000%2C30.500%20C12.921%2C30.500%2010.072%2C29.533%207.724%2C27.897%20L5.561%2C30.060%20C5.289%2C30.332%204.914%2C30.500%204.500%2C30.500%20C3.672%2C30.500%203.000%2C29.828%203.000%2C28.999%20C3.000%2C28.586%203.168%2C28.210%203.439%2C27.939%20L5.451%2C25.927%20C3.008%2C23.332%201.500%2C19.845%201.500%2C16.000%20C1.500%2C7.992%207.992%2C1.500%2016.000%2C1.500%20C24.008%2C1.500%2030.500%2C7.992%2030.500%2C16.000%20ZM16.000%2C4.500%20C9.649%2C4.500%204.500%2C9.648%204.500%2C16.000%20C4.500%2C22.351%209.649%2C27.500%2016.000%2C27.500%20C22.351%2C27.500%2027.500%2C22.351%2027.500%2C16.000%20C27.500%2C9.648%2022.351%2C4.500%2016.000%2C4.500%20ZM22.000%2C17.500%20L16.000%2C17.500%20C15.172%2C17.500%2014.500%2C16.828%2014.500%2C16.000%20L14.500%2C7.999%20C14.500%2C7.172%2015.172%2C6.500%2016.000%2C6.500%20C16.828%2C6.500%2017.500%2C7.172%2017.500%2C7.999%20L17.500%2C14.499%20L22.000%2C14.499%20C22.828%2C14.499%2023.500%2C15.171%2023.500%2C16.000%20C23.500%2C16.828%2022.828%2C17.500%2022.000%2C17.500%20ZM1.287%2C9.705%20C0.483%2C8.685%20-0.000%2C7.400%20-0.000%2C6.000%20C-0.000%2C2.686%202.686%2C-0.000%206.000%2C-0.000%20C7.400%2C-0.000%208.685%2C0.483%209.706%2C1.287%20C5.931%2C2.904%202.904%2C5.931%201.287%2C9.705%20Z%22%2F%3E%0A%3C%2Fsvg%3E');
        left: 0;
        width: 32px;
        height: 31px;
      }
      &:nth-child(2):before{
        @include preudo;
        background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20%0A%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%0A%20width%3D%2232px%22%20height%3D%2232px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb(149%2C%20225%2C%20211)%22%0A%20d%3D%22M30.500%2C32.000%20L1.500%2C32.000%20C0.672%2C32.000%200.000%2C31.328%200.000%2C30.500%20L0.000%2C1.499%20C0.000%2C0.672%200.672%2C-0.000%201.500%2C-0.000%20L30.500%2C-0.000%20C31.328%2C-0.000%2032.000%2C0.672%2032.000%2C1.499%20L32.000%2C30.500%20C32.000%2C31.328%2031.328%2C32.000%2030.500%2C32.000%20ZM29.000%2C3.000%20L3.000%2C3.000%20L3.000%2C29.000%20L29.000%2C29.000%20L29.000%2C3.000%20ZM5.215%2C16.238%20L5.215%2C16.237%20L9.215%2C13.738%20L9.215%2C13.739%20C9.444%2C13.598%209.712%2C13.517%2010.000%2C13.517%20C10.311%2C13.517%2010.600%2C13.612%2010.840%2C13.774%20L10.846%2C13.766%20L17.477%2C18.186%20L25.115%2C12.795%20C25.363%2C12.613%2025.669%2C12.505%2026.000%2C12.505%20C26.828%2C12.505%2027.500%2C13.177%2027.500%2C14.005%20C27.500%2C14.505%2027.255%2C14.948%2026.878%2C15.220%20L26.879%2C15.221%20L18.379%2C21.221%20L18.378%2C21.221%20C18.132%2C21.400%2017.828%2C21.505%2017.500%2C21.505%20C17.179%2C21.505%2016.882%2C21.404%2016.639%2C21.233%20L9.982%2C16.795%20L6.847%2C18.755%20C6.606%2C18.920%206.314%2C19.017%206.000%2C19.017%20C5.172%2C19.017%204.500%2C18.346%204.500%2C17.517%20C4.500%2C16.976%204.786%2C16.503%205.215%2C16.238%20Z%22%2F%3E%0A%3C%2Fsvg%3E');
        left: 0;
        width: 32px;
        height: 32px;
      }
      &:nth-child(3):before{
        @include preudo;
        background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20%0A%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%0A%20width%3D%2232px%22%20height%3D%2228px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb(149%2C%20225%2C%20211)%22%0A%20d%3D%22M30.000%2C23.000%20L22.500%2C23.000%20L20.500%2C23.000%20L20.500%2C25.499%20L22.500%2C27.500%20L22.500%2C28.000%20L9.500%2C28.000%20L9.500%2C27.500%20L11.500%2C25.499%20L11.500%2C23.000%20L9.500%2C23.000%20L2.000%2C23.000%20C1.172%2C23.000%200.500%2C22.328%200.500%2C21.499%20L0.500%2C1.500%20C0.500%2C0.671%201.172%2C-0.000%202.000%2C-0.000%20L30.000%2C-0.000%20C30.828%2C-0.000%2031.500%2C0.671%2031.500%2C1.500%20L31.500%2C21.499%20C31.500%2C22.328%2030.828%2C23.000%2030.000%2C23.000%20ZM29.500%2C2.000%20L2.500%2C2.000%20L2.500%2C19.000%20L29.500%2C19.000%20L29.500%2C2.000%20ZM13.000%2C9.000%20C13.414%2C9.000%2013.789%2C9.168%2014.061%2C9.439%20L14.061%2C9.439%20L15.000%2C10.378%20L17.939%2C7.439%20L17.939%2C7.439%20C18.211%2C7.167%2018.586%2C7.000%2019.000%2C7.000%20C19.828%2C7.000%2020.500%2C7.671%2020.500%2C8.500%20C20.500%2C8.914%2020.332%2C9.289%2020.061%2C9.561%20L20.061%2C9.561%20L16.061%2C13.561%20L16.061%2C13.561%20C15.789%2C13.832%2015.414%2C14.000%2015.000%2C14.000%20C14.586%2C14.000%2014.211%2C13.832%2013.939%2C13.561%20L13.939%2C13.561%20L11.939%2C11.560%20L11.939%2C11.560%20C11.668%2C11.289%2011.500%2C10.914%2011.500%2C10.500%20C11.500%2C9.671%2012.172%2C9.000%2013.000%2C9.000%20Z%22%2F%3E%0A%3C%2Fsvg%3E');
        left: 0;
        width: 32px;
        height: 28px;
      }
      &:nth-child(4):before{
        @include preudo;
        background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20%0A%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%0A%20width%3D%2232px%22%20height%3D%2232px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb(149%2C%20225%2C%20211)%22%0A%20d%3D%22M31.065%2C25.889%20L16.594%2C31.877%20C16.412%2C31.956%2016.211%2C32.000%2016.000%2C32.000%20C15.789%2C32.000%2015.588%2C31.956%2015.406%2C31.877%20L0.935%2C25.889%20C0.387%2C25.666%20-0.000%2C25.128%20-0.000%2C24.500%20L-0.000%2C1.500%20C-0.000%2C0.671%200.672%2C-0.000%201.500%2C-0.000%20C1.703%2C-0.000%201.897%2C0.041%202.073%2C0.114%20L2.074%2C0.114%20L2.076%2C0.115%20C2.080%2C0.116%202.085%2C0.119%202.089%2C0.120%20L16.000%2C5.876%20L29.911%2C0.120%20C29.915%2C0.119%2029.920%2C0.116%2029.924%2C0.115%20L29.927%2C0.114%20L29.927%2C0.114%20C30.103%2C0.041%2030.297%2C-0.000%2030.500%2C-0.000%20C31.328%2C-0.000%2032.000%2C0.671%2032.000%2C1.500%20L32.000%2C24.500%20C32.000%2C25.128%2031.613%2C25.666%2031.065%2C25.889%20ZM14.500%2C8.503%20L3.000%2C3.744%20L3.000%2C23.497%20L14.500%2C28.256%20L14.500%2C8.503%20ZM29.000%2C3.744%20L17.500%2C8.503%20L17.500%2C28.256%20L29.000%2C23.497%20L29.000%2C3.744%20ZM19.879%2C10.634%20L25.379%2C8.134%20L25.379%2C8.134%20C25.568%2C8.048%2025.778%2C8.000%2026.000%2C8.000%20C26.828%2C8.000%2027.500%2C8.671%2027.500%2C9.500%20C27.500%2C10.107%2027.139%2C10.629%2026.621%2C10.865%20L26.621%2C10.865%20L21.121%2C13.365%20L21.121%2C13.365%20C20.931%2C13.452%2020.721%2C13.500%2020.500%2C13.500%20C19.672%2C13.500%2019.000%2C12.828%2019.000%2C12.000%20C19.000%2C11.393%2019.361%2C10.870%2019.879%2C10.634%20ZM19.879%2C16.134%20L19.879%2C16.134%20L25.379%2C13.634%20L25.379%2C13.634%20C25.568%2C13.548%2025.778%2C13.500%2026.000%2C13.500%20C26.828%2C13.500%2027.500%2C14.171%2027.500%2C15.000%20C27.500%2C15.607%2027.139%2C16.129%2026.621%2C16.365%20L21.121%2C18.865%20L21.121%2C18.865%20C20.931%2C18.951%2020.721%2C19.000%2020.500%2C19.000%20C19.672%2C19.000%2019.000%2C18.328%2019.000%2C17.500%20C19.000%2C16.893%2019.361%2C16.370%2019.879%2C16.134%20ZM19.879%2C21.634%20L19.879%2C21.634%20L25.379%2C19.134%20L25.379%2C19.134%20C25.568%2C19.048%2025.778%2C19.000%2026.000%2C19.000%20C26.828%2C19.000%2027.500%2C19.671%2027.500%2C20.500%20C27.500%2C21.107%2027.139%2C21.629%2026.621%2C21.865%20L26.621%2C21.865%20L21.121%2C24.365%20L21.121%2C24.365%20C20.931%2C24.452%2020.721%2C24.500%2020.500%2C24.500%20C19.672%2C24.500%2019.000%2C23.828%2019.000%2C23.000%20C19.000%2C22.393%2019.361%2C21.870%2019.879%2C21.634%20ZM6.000%2C8.000%20C6.221%2C8.000%206.431%2C8.048%206.621%2C8.134%20L6.621%2C8.134%20L12.121%2C10.634%20L12.121%2C10.634%20C12.639%2C10.870%2013.000%2C11.393%2013.000%2C12.000%20C13.000%2C12.828%2012.328%2C13.500%2011.500%2C13.500%20C11.278%2C13.500%2011.068%2C13.452%2010.879%2C13.365%20L10.879%2C13.365%20L5.379%2C10.865%20L5.379%2C10.865%20C4.861%2C10.629%204.500%2C10.107%204.500%2C9.500%20C4.500%2C8.671%205.172%2C8.000%206.000%2C8.000%20ZM6.000%2C13.500%20C6.221%2C13.500%206.431%2C13.548%206.621%2C13.634%20L6.621%2C13.634%20L12.121%2C16.134%20L12.121%2C16.134%20C12.639%2C16.370%2013.000%2C16.893%2013.000%2C17.500%20C13.000%2C18.328%2012.328%2C19.000%2011.500%2C19.000%20C11.278%2C19.000%2011.068%2C18.951%2010.879%2C18.865%20L10.879%2C18.865%20L5.379%2C16.365%20L5.379%2C16.365%20C4.861%2C16.129%204.500%2C15.607%204.500%2C15.000%20C4.500%2C14.171%205.172%2C13.500%206.000%2C13.500%20ZM6.000%2C19.000%20C6.221%2C19.000%206.431%2C19.048%206.621%2C19.134%20L6.621%2C19.134%20L12.121%2C21.634%20L12.121%2C21.634%20C12.639%2C21.870%2013.000%2C22.393%2013.000%2C23.000%20C13.000%2C23.828%2012.328%2C24.500%2011.500%2C24.500%20C11.278%2C24.500%2011.068%2C24.452%2010.879%2C24.365%20L10.879%2C24.365%20L5.379%2C21.865%20L5.379%2C21.865%20C4.861%2C21.629%204.500%2C21.107%204.500%2C20.500%20C4.500%2C19.671%205.172%2C19.000%206.000%2C19.000%20Z%22%2F%3E%0A%3C%2Fsvg%3E');
        left: 0;
        width: 32px;
        height: 32px;
      }
      &:nth-child(5):before{
        @include preudo;
        background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20%0A%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%0A%20width%3D%2232px%22%20height%3D%2231px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb(149%2C%20225%2C%20211)%22%0A%20d%3D%22M32.000%2C16.500%20C32.000%2C17.328%2031.328%2C17.999%2030.500%2C17.999%20C30.105%2C17.999%2029.748%2C17.844%2029.480%2C17.594%20L29.477%2C17.598%20L16.038%2C4.159%20L16.038%2C4.159%20L16.000%2C4.122%20L16.000%2C4.122%20L2.554%2C17.568%20L2.553%2C17.568%20C2.282%2C17.835%201.910%2C17.999%201.500%2C17.999%20C0.672%2C17.999%20-0.000%2C17.328%20-0.000%2C16.500%20C-0.000%2C16.075%200.177%2C15.691%200.461%2C15.419%20L14.919%2C0.960%20C15.192%2C0.677%2015.575%2C0.500%2016.000%2C0.500%20L16.000%2C0.500%20L16.000%2C0.500%20C16.000%2C0.500%2016.000%2C0.500%2016.001%2C0.500%20C16.027%2C0.500%2016.053%2C0.500%2016.080%2C0.502%20C16.084%2C0.502%2016.088%2C0.502%2016.092%2C0.502%20C16.115%2C0.504%2016.137%2C0.506%2016.160%2C0.508%20C16.161%2C0.508%2016.162%2C0.508%2016.164%2C0.509%20C16.531%2C0.549%2016.858%2C0.721%2017.097%2C0.977%20L17.098%2C0.976%20L23.000%2C6.878%20L23.000%2C5.500%20C23.000%2C4.671%2023.671%2C3.999%2024.500%2C3.999%20C25.328%2C3.999%2026.000%2C4.671%2026.000%2C5.500%20L26.000%2C9.878%20L31.598%2C15.476%20L31.594%2C15.480%20C31.844%2C15.748%2032.000%2C16.105%2032.000%2C16.500%20ZM29.000%2C19.000%20L29.000%2C23.500%20L29.000%2C25.500%20L29.000%2C29.499%20C29.000%2C30.328%2028.328%2C31.000%2027.500%2C31.000%20L24.500%2C31.000%20L24.500%2C19.000%20L18.500%2C19.000%20L18.500%2C31.000%20L4.500%2C31.000%20C3.672%2C31.000%203.000%2C30.328%203.000%2C29.499%20L3.000%2C25.500%20L3.000%2C23.500%20L3.000%2C19.000%20L16.000%2C6.000%20L29.000%2C19.000%20ZM13.500%2C19.000%20L7.500%2C19.000%20L7.500%2C25.000%20L13.500%2C25.000%20L13.500%2C19.000%20Z%22%2F%3E%0A%3C%2Fsvg%3E');
        left: 0;
        width: 32px;
        height: 31px;
      }
      &:nth-child(6):before{
        @include preudo;
        background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20%0A%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%0A%20width%3D%2232px%22%20height%3D%2232px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb(149%2C%20225%2C%20211)%22%0A%20d%3D%22M30.500%2C32.000%20L1.500%2C32.000%20C0.671%2C32.000%20-0.000%2C31.328%20-0.000%2C30.500%20L-0.000%2C1.500%20C-0.000%2C0.671%200.671%2C-0.000%201.500%2C-0.000%20L30.500%2C-0.000%20C31.328%2C-0.000%2032.000%2C0.671%2032.000%2C1.500%20L32.000%2C30.500%20C32.000%2C31.328%2031.328%2C32.000%2030.500%2C32.000%20ZM29.000%2C3.000%20L3.000%2C3.000%20L3.000%2C28.999%20L29.000%2C28.999%20L29.000%2C3.000%20ZM6.500%2C4.500%20L12.000%2C4.500%20L12.000%2C4.500%20C12.828%2C4.500%2013.500%2C5.171%2013.500%2C6.000%20C13.500%2C6.828%2012.828%2C7.500%2012.000%2C7.500%20L12.000%2C7.500%20L7.500%2C7.500%20L7.500%2C12.000%20L7.500%2C12.000%20C7.500%2C12.828%206.828%2C13.500%206.000%2C13.500%20C5.172%2C13.500%204.500%2C12.828%204.500%2C12.000%20L4.500%2C12.000%20L4.500%2C6.500%20L4.500%2C6.500%20L4.500%2C4.500%20L6.500%2C4.500%20L6.500%2C4.500%20ZM4.500%2C20.000%20L4.500%2C20.000%20C4.500%2C19.171%205.172%2C18.500%206.000%2C18.500%20C6.828%2C18.500%207.500%2C19.171%207.500%2C20.000%20L7.500%2C20.000%20L7.500%2C24.499%20L12.000%2C24.499%20L12.000%2C24.500%20C12.828%2C24.500%2013.500%2C25.171%2013.500%2C26.000%20C13.500%2C26.828%2012.828%2C27.500%2012.000%2C27.500%20L12.000%2C27.500%20L6.500%2C27.500%20L6.500%2C27.500%20L4.500%2C27.500%20L4.500%2C25.500%20L4.500%2C25.500%20L4.500%2C20.000%20ZM20.000%2C4.500%20L20.000%2C4.500%20L25.500%2C4.500%20L25.500%2C4.500%20L27.500%2C4.500%20L27.500%2C6.500%20L27.500%2C6.500%20L27.500%2C12.000%20L27.500%2C12.000%20C27.500%2C12.828%2026.828%2C13.500%2026.000%2C13.500%20C25.172%2C13.500%2024.500%2C12.828%2024.500%2C12.000%20L24.500%2C12.000%20L24.500%2C7.500%20L20.000%2C7.500%20L20.000%2C7.500%20C19.172%2C7.500%2018.500%2C6.828%2018.500%2C6.000%20C18.500%2C5.171%2019.172%2C4.500%2020.000%2C4.500%20ZM20.000%2C24.500%20L20.000%2C24.499%20L24.500%2C24.499%20L24.500%2C20.000%20L24.500%2C20.000%20C24.500%2C19.171%2025.172%2C18.500%2026.000%2C18.500%20C26.828%2C18.500%2027.500%2C19.171%2027.500%2C20.000%20L27.500%2C20.000%20L27.500%2C25.500%20L27.500%2C25.500%20L27.500%2C27.500%20L25.500%2C27.500%20L25.500%2C27.500%20L20.000%2C27.500%20L20.000%2C27.500%20C19.172%2C27.500%2018.500%2C26.828%2018.500%2C26.000%20C18.500%2C25.171%2019.172%2C24.500%2020.000%2C24.500%20Z%22%2F%3E%0A%3C%2Fsvg%3E');
        left: 0;
        width: 32px;
        height: 32px;
      }
    }
  }
  .section-title {
    position: relative;
    display: inline-block;
    text-align: center;
    @media (max-width: $breakpoint-mobile) {
      padding: 12px 0 26px;
    }
    &:after {
      @include preudo;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 25%;
      height: 3px;
      background: $red;
    }

    p:first-child {
      font-family: $fontKaushan;
      font-size: 24px;
    }

    p:nth-child(2) {
      font-weight: $font-weight-bold;
      font-size: 29px;
      padding: 18px 0 40px;
      text-transform: uppercase;
    }
  }
}