// Variables
$fontMontserrat: 'Montserrat', sans-serif;
$fontKaushan: 'Kaushan Script', cursive;
$fontRoboto: 'Roboto', sans-serif;
$font-weight-bold: 700;

$white: #ffffff;
$yellow: #fce38a;
$red: #f38181;

$breakpoint-desktop: 1400px;
$breakpoint-tablet: 992px;
$breakpoint-mobile: 768px;